{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-xs-12 col-md-8 col-lg-7 col-xl-5 my-auto">
                <div class="jumbotron jumbotron-black">
                    <h1 class="display-4 logo-font text-white">
                        Gaming products for everyone
                    </h1>
                    <p class="lead text-white">
                        We sell premium gaming products handpicked by professionals only. Bring your game to the next level!
                    </p>
                    <div class="my-5">
                        <h4>
                            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                                Shop Now
                            </a>
                        </h4>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    {% include 'home/includes/testimonials.html' %}
{% endblock %}