{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid product-details-img" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid book-details-img" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ product.name }}" width="100%" height="400px">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="mb-0 text-left font-weight-bold">{{ product.name }} </h2>
                <p class="lead mb-0 text-left font-weight-bold">€{{product.price}}</p>
                <div class="book-rating d-inline">{% include 'includes/product_rating.html' %}</div>
                <p class="ml-3 small d-inline mb-5">({{ product.review_count }})</p>
                <p class="mt-5 mb-3"><strong>Brand:</strong> {{ product.brand }} </p>
                <p class="mt-5 description-text"><strong>Description:</strong></p>
                <p>{{product.description}}</p>
            </div>

            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    {% with product.has_colors as s %}
                    {% if s %}
                        <div class="col-12">
                            <p><strong>Color:</strong></p>
                            <select name="product_color" id="id_product_color" class="form-control rounded-0 w-50">
                                <option value="white" selected>White</option>
                                <option value="black">Black</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0" 
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}"
                                    id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col{% if s %}-12 mt-2{% endif %}">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% endwith %}
                </div>
            </form>
            {% if user.is_authenticated %}
            <div class="col">
                <form action="" method="POST">
                    <button class="text-uppercase mt-5 text-left  btn-style logo-font py-1 px-3"> add to
                        whishlist</button>
                </form>
            </div>
            {% endif %}

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="border-secondary w-100">
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
{% endblock %}