{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Privacy Policy {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-center">Privacy Policy for Joko Gaming</h2>

        </div>
    </div>
</div>



{% endblock %}