{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/38a4438365.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Joko Gaming {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-lg-flex">
          <!-- LOGO -->
          <a class="navbar-brand" href="#">Joko Gaming</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- LINKS -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Products</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-toggle="dropdown" aria-expanded="false">
                          Categories
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Headset</a>
                          <a class="dropdown-item" href="#">Mouse</a>
                          <a class="dropdown-item" href="#">Keyboard</a>
                          <a class="dropdown-item" href="#">Other</a>
                      </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sales</a>
                </li>

              </ul>

              <!-- ICONS -->
              <div class="list-inline-item ">
                  <a class="nav-link d-block text-reset" href="#" id="search-icon" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" aria-label="Search">
                      <div class="text-center">
                          <div><i class="fas fa-search fa-lg"></i></div>
                      </div>
                  </a>
                  <div class="dropdown-menu w-100 p-3 search-icon bg-nav my-0" aria-labelledby="search">
                      <form class="form" method="GET" action="#">
                          <div class="input-group w-100 input-left">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search..."
                                  aria-label="Search">
                              <div class="input-group-append">
                                  <button class="input-btn form-control form-control btn btn-trans" type="submit"
                                      aria-label="Search">
                                      <span class="icon">
                                          <i class="fas fa-search"></i>
                                      </span>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>


              <div class="list-inline-item  dropdown">
                  <a class="nav-link d-block text-reset" href="#" id="mob-account-menu" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"
                      aria-label="{% if request.user.is_authenticated %}My Account{% else %}Sign in or sign up{% endif %}">
                      <div class="text-center">
                          <div><i class="fa-solid fa-user fa-lg"></i></div>
                      </div>
                  </a>
                  <div class="dropdown-menu border-0" aria-labelledby="user-options">
                      {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                      <a href="#" class="dropdown-item">Admin</a>
                      {% endif %}
                      <a href="#" class="dropdown-item">My Profile</a>
                      <a href="#" class="dropdown-item">Logout</a>
                      {% else %}
                      <a href="#" class="dropdown-item">Register</a>
                      <a href="#" class="dropdown-item">Login</a>
                      {% endif %}
                  </div>
              </div>


              <!-- Cart nav link that dynamically displays the cart count and total-->
              <div class="list-inline-item">
                  <a class="nav-link d-block text-reset" href="#"
                      title="{% if grand_total %}Your cart grand total is {{ grand_total }}{% else %}Your cart is empty{% endif %}"
                      aria-label="cart">
                      <div class="text-center">
                          <div><i class="fas fa-shopping-cart fa-lg"></i>
                          </div>
                          <small
                              class="my-0 grand-total {% if grand_total %}border-orange{% else %}border-white{% endif %}">
                              {% if grand_total %}
                              €{{ grand_total|floatformat:2 }} ({{ product_count }})
                              {% else %}
                              €0.00
                              {% endif %}
                          </small>
                      </div>
                  </a>
              </div>
          </div>
      </nav>

      <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                  aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              {% include 'includes/mobile-nav.html' %}
              {% include 'includes/main-nav.html' %}
          </nav>
      </div>
  </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    
  </body>
</html>