<div class="jumbrotron-fluid">
    <div class="container">
        <div id="carousel1" class="carousel slide testimonial-style" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption testimonial-caption-style">
                        <p>"Joko Gaming has helped me get to the next level. By offering some of the best gaming products you know you can't go wrong. </p>
                        <p class="testimonial-authors">John Doe</p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
                        <p class="testimonial-authors">Person 2</p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
                        <p class="testimonial-authors">Person 3</p>
                    </div>
                </div>
            </div>
                <a class="left carousel-control" href="#carousel1" data-slide="prev"> <i class="fas fa-chevron-left fa-lg"></i> </a>
                <a class="right carousel-control" href="#carousel1" data-slide="next"> <i class="fas fa-chevron-right fa-lg"></i> </a>
        </div>
    </div>
</div>